# Sales and Marketing Analysis

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## **Import Dataset**

In [2]:
df = pd.read_csv('data/sales_project.csv')
df.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

## Explatory Data Analysis

In [4]:
df.shape

(30000, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              30000 non-null  int64
 1   MONTH             30000 non-null  int64
 2   SUPPLIER          29967 non-null  object
 3   ITEM CODE         30000 non-null  object
 4   ITEM DESCRIPTION  30000 non-null  object
 5   ITEM TYPE         30000 non-null  object
 6   RETAIL SALES      29999 non-null  float64
 7   RETAIL TRANSFERS  30000 non-null  float64
 8   WAREHOUSE SALES   30000 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 2.1+ MB

## Columns description

The dataset contains 30,000 records with the following columns:  

**YEAR:** Year of the transaction  
**MONTH:** Month of the transaction  
**SUPPLIER:** Supplier name (with some missing values)  
**ITEM CODE:** Code of the item sold  
**ITEM DESCRIPTION:** Description of the item  
**ITEM TYPE:** Type of the item (e.g., wine, beer)  
**RETAIL SALES:** Retail sales amount (with one missing value)  
**RETAIL TRANSFERS:** Transfers between retail locations  
**WAREHOUSE SALES:** Sales from the warehouse

## Types of variables  

In this section, I separate the dataset into categorical and numerical variables.

In [6]:
# find categorical variables

categorical = [var for var in df.columns if df[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :', categorical)

There are 4 categorical variables

The categorical variables are : ['SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION', 'ITEM TYPE']

In [7]:
# view the categorical variables

df[categorical].head()

,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE
0,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE
1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE
2,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER
3,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE
4,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE

In [9]:
df['SUPPLIER'].value_counts()

SUPPLIER
THE COUNTRY VINTNER, LLC DBA WINEBOW    2041
REPUBLIC NATIONAL DISTRIBUTING CO       1832
SOUTHERN GLAZERS WINE AND SPIRITS       1304
LEGENDS LTD                             1227
MONSIEUR TOUTON SELECTION               1131
                                        ...
LOOK VODKA LLC                             1
SANGLIER SELECTIONS LLC                    1
SCOPERTA IMPORTING COMPANY INC             1
Z WINE GALLERY IMPORTS LLC                 1
SMITH-ANDERSON ENTERPRISES INC             1
Name: count, Length: 290, dtype: int64

In [10]:
# Frequency encoding for the 'SUPPLIER' column
supplier_counts = df['SUPPLIER'].value_counts()
df['SUPPLIER_FREQUENCY'] = df['SUPPLIER'].map(supplier_counts)

# Now 'SUPPLIER_FREQUENCY' column will contain the count of occurrences for each supplier

In [12]:
df[categorical].drop('SUPPLIER', axis=1)

      ITEM CODE                       ITEM DESCRIPTION ITEM TYPE
0        100009                    BOOTLEG RED - 750ML      WINE
1        100024              MOMENT DE PLAISIR - 750ML      WINE
2          1001    S SMITH ORGANIC PEAR CIDER - 18.7OZ      BEER
3        100145          SCHLINK HAUS KABINETT - 750ML      WINE
4        100293         SANTORINI GAVALA WHITE - 750ML      WINE
...         ...                                    ...       ...
29995    352322        FORTALEZA ANEJO TEQUILA - 750ML    LIQUOR
29996    352324          DOMAINE BRICHOT BLANC - 750ML      WINE
29997    352354                 LOTE 44 MALBEC - 750ML      WINE
29998     35238                     SKYY VODKA - 1.75L    LIQUOR
29999    352380  CH HAUT LA PEREYRE BORD BLANC - 750ML      WINE

[30000 rows x 3 columns]