# Sales and Marketing Analysis

### Importing Libraries

In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## **Import Dataset**

In [60]:
df = pd.read_csv('data/sales_project.csv')
df.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

## Explatory Data Analysis

In [61]:
df.shape

(30000, 9)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              30000 non-null  int64
 1   MONTH             30000 non-null  int64
 2   SUPPLIER          29967 non-null  object
 3   ITEM CODE         30000 non-null  object
 4   ITEM DESCRIPTION  30000 non-null  object
 5   ITEM TYPE         30000 non-null  object
 6   RETAIL SALES      29999 non-null  float64
 7   RETAIL TRANSFERS  30000 non-null  float64
 8   WAREHOUSE SALES   30000 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 2.1+ MB

## Columns description

The dataset contains 30,000 records with the following columns:  

**YEAR:** Year of the transaction  
**MONTH:** Month of the transaction  
**SUPPLIER:** Supplier name (with some missing values)  
**ITEM CODE:** Code of the item sold  
**ITEM DESCRIPTION:** Description of the item  
**ITEM TYPE:** Type of the item (e.g., wine, beer)  
**RETAIL SALES:** Retail sales amount (with one missing value)  
**RETAIL TRANSFERS:** Transfers between retail locations  
**WAREHOUSE SALES:** Sales from the warehouse

## Types of variables  

In this section, I separate the dataset into categorical and numerical variables.

In [63]:
# find categorical variables

categorical = [var for var in df.columns if df[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :', categorical)

There are 4 categorical variables

The categorical variables are : ['SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION', 'ITEM TYPE']

In [64]:
df_categorical = df[categorical]

In [65]:
# view the categorical variables

df_categorical.head()

,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE
0,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE
1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE
2,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER
3,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE
4,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE

In [66]:
df['SUPPLIER'].value_counts()

SUPPLIER
THE COUNTRY VINTNER, LLC DBA WINEBOW    2041
REPUBLIC NATIONAL DISTRIBUTING CO       1832
SOUTHERN GLAZERS WINE AND SPIRITS       1304
LEGENDS LTD                             1227
MONSIEUR TOUTON SELECTION               1131
                                        ...
LOOK VODKA LLC                             1
SANGLIER SELECTIONS LLC                    1
SCOPERTA IMPORTING COMPANY INC             1
Z WINE GALLERY IMPORTS LLC                 1
SMITH-ANDERSON ENTERPRISES INC             1
Name: count, Length: 290, dtype: int64

In [67]:
# Frequency encoding for the 'SUPPLIER' column
supplier_counts = df['SUPPLIER'].value_counts()
df_categorical['SUPPLIER_FREQUENCY'] = df['SUPPLIER'].map(supplier_counts)

# Now 'SUPPLIER_FREQUENCY' column will contain the count of occurrences for each supplier

C:\Users\user\AppData\Local\Temp\ipykernel_13716\2835361292.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical['SUPPLIER_FREQUENCY'] = df['SUPPLIER'].map(supplier_counts)

In [68]:
df_categorical.drop('SUPPLIER', axis=1, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_13716\170209703.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.drop('SUPPLIER', axis=1, inplace=True)

In [69]:
# Dropping the 'ITEM CODE' column
df_categorical.drop('ITEM CODE', axis=1, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_13716\3167658544.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.drop('ITEM CODE', axis=1, inplace=True)

In [70]:
df_categorical.head()

                      ITEM DESCRIPTION ITEM TYPE  SUPPLIER_FREQUENCY
0                  BOOTLEG RED - 750ML      WINE              1832.0
1            MOMENT DE PLAISIR - 750ML      WINE               372.0
2  S SMITH ORGANIC PEAR CIDER - 18.7OZ      BEER               719.0
3        SCHLINK HAUS KABINETT - 750ML      WINE               378.0
4       SANTORINI GAVALA WHITE - 750ML      WINE               439.0

In [71]:

# Drop the original 'ITEM DESCRIPTION' column
df_categorical.drop('ITEM DESCRIPTION', axis=1, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_13716\2205981825.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.drop('ITEM DESCRIPTION', axis=1, inplace=True)

In [72]:
# One-hot encoding the 'ITEM TYPE' column
df_categorical = pd.get_dummies(df_categorical, columns=['ITEM TYPE'], drop_first=True, dtype='int')

df_categorical.head(5)

,SUPPLIER_FREQUENCY,ITEM TYPE_DUNNAGE,ITEM TYPE_KEGS,ITEM TYPE_LIQUOR,ITEM TYPE_NON-ALCOHOL,ITEM TYPE_REF,ITEM TYPE_STR_SUPPLIES,ITEM TYPE_WINE
0,1832.0,0,0,0,0,0,0,1
1,372.0,0,0,0,0,0,0,1
2,719.0,0,0,0,0,0,0,0
3,378.0,0,0,0,0,0,0,1
4,439.0,0,0,0,0,0,0,1